* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_logo>img {
    width: 80px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header_nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.header_nav ul li {
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

.Body_search>input {
    padding: 10px 20px;
    width: 14rem;
    outline: none;
    font-size: 1rem;
}

.body_search_btn {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    background-color: orangered;
    color: white;
    outline: none;
}

.body {
    margin: 2rem 6rem;
}

.Body_search {
    display: flex;
    justify-content: center;
}

.restaurant {
    padding: 10px;
    width: 250px;
    cursor: pointer;
}

.restaurant-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.top-reated {
    margin-left: 1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5rem;
}

.shimmer-card {
    height: 250px;
    width: 250px;
    background-color: lightgray;
}

.shimmer-container {
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}